body {
    font-family: var(--font-main);
    background-color: var(--light);
    color: var(--dark);
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.main-header {
    background-color: var(--dark);
    color: var(--white);
    padding: 2rem 0;
    text-align: center;
    box-shadow: var(--shadow-md);
}

.card {
    background: var(--white);
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    margin-top: 2rem;
    border-top: 5px solid var(--primary);
}

.main-footer {
    text-align: center;
    padding: 2rem;
    color: var(--secondary);
    font-size: 0.8rem;
}
